- content.each do |hash|
  - hash.each do |section, features|
    %h2= section
    %table
      %thead
        %tr
          %th
          - languages.each do |language|
            %th= language

      %tbody
        - features.each do |hash|
          - hash.each do |feature, snippets|
            %tr
              %th
                %h4= feature
              - snippets.each do |hash|
                - hash.each do |language, code|
                  - language = to_slug(language)
                  %td{:class => language)}
                    %pre{:class => language)}
                      = format_code(code, language)

