!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title Languages cheat sheet
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/style.css')
  %body
    #all
      = yield
