/* Common */
html, body { margin: 0; padding: 0; }
body { font-size: 11pt; font-family: helvetica, arial, sans-serif; line-height: 13pt; }
body { padding-top: 40px; } 
h2 { text-align: center; font-size: 1.1em; margin: 0; padding: 30px 0 0 0; }
table { margin: 0 auto; table-layout: fixed; border-collapse: separate; border-spacing: 0 8px; }
th, td { text-align: left; vertical-align: top; padding: 10px 5px; }

.hidden { display: none; }
.preload { display: none; }

/* Top */
.selector { position: fixed; top: 0; left: 0; width: 100%; padding: 0; background: #eee; line-height: 30px; font-size: 8pt; color: #333; height: 30px; text-align: center; -webkit-box-shadow: 0 0 5px #888; -moz-box-shadow: 0 0 5px #888; z-index: 1; }
.selector .tabs { float: left; margin-left: 5px; }
.selector label { margin: 0; display: block; padding-left: 5px; float: left; }
.selector label:hover { background: #e7e7e7; }
.selector label.active { background: #e0e0e0; }
.selector label.active a { color: #333; }
.selector label a { color: #333; font-weight: bold; text-decoration: none; display: inline-block; padding-right: 10px; }
.selector a:focus,
.selector a:active { outline: 0; }

.selector label.see-also { position: absolute; right: 5px; top: 0px; }

/* Checkboxes */
.selector label input { opacity: 0.2; }
.selector label.active input,
.selector label:hover input { opacity: 1; }

.selector .tabs.multiple input { opacity: 1; }

/* Body preload */
html, body { height: 100%; }
html body.preload { background: url(/images/loading.gif) center center no-repeat; }

/* Content */
#content:after { clear: both; }
xbody.compact #content { margin: 0 auto; width: 1100px; }

/* Compact mode (one only) */
body.compact section { float: left; margin-bottom: 20px; }
body.compact thead th { text-indent: -9999px; }

/* Features */
tbody th { text-align: right; padding-top: 14px; }
tbody h4 { width: 175px; margin: 0; padding: 0; font-size: 0.8em; font-weight: normal; }
tbody h4 { margin-right: 16px; font-family: georgia; color: #777; }

/* Data */
td { padding: 14px 15px; background: #f0f0f0; -webkit-border-radius: 0px; border-bottom: solid 1px #ddd; border-right: solid 1px #ddd;  }
pre { padding: 0; margin: 0; font-size: 9pt; width: 300px; }

/* Headers */
thead h2 { margin: 0; padding: 0 20px; text-align: right; color: #333; font-size: 1.4em; background: white; float: right; }
thead h2 { font-family: georgia; font-weight: normal; font-style: italic; color: #7bd; }
thead strong { text-transform: uppercase; font-size: 0.9em; }
thead th { background: #888; color: #fff; padding: 0; text-align: center; font-size: 0.8em; }
thead th.heading { background: transparent; }

/* Colors */
td.ruby       { background: #f7f0f0; }
td.python     { background: #e8f7e8; }
td.php        { background: #e4f0f8; }
td.javascript { background: #eeeaf8; }

/*
.even td.ruby   { background: #eae6e6; }
.even td.python { background: #e0eae3; }
.even td.php    { background: #e0e3ea; }
*/

pre { font-family: 'lucida console', monospace; font-size: 11px; text-indent: -3px; letter-spacing: -1px; }
td.empty  { opacity: 0.5; }
th.unused { opacity: 0.1; }
td.unused { opacity: 0.1; }

/* Beta! */
#coffeescript-checkbox { display: none; }

/*
body.compact th,
body.compact tr,
body.compact td { display: block; }
body.compact table { padding: 0 20px; }
body.compact tbody th { padding: 0; text-align: left; }
body.compact tbody h4 { padding: 10px 0 0 0; width: auto; }
body.compact thead th { display: none; }
body.compact thead th.heading { display: block; }
body.compact thead h2 { float: none; text-align: left; padding: 0; }
*/
div.CodeRay { }

span.CodeRay { white-space: pre; border: 0px; padding: 2px }

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #def;
  color: gray;
  text-align: right;
}
.CodeRay .line_numbers tt { font-weight: bold }
.CodeRay .line_numbers .highlighted { color: red }
.CodeRay .no { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }

.CodeRay .af { color:#00C }
.CodeRay .an { color:#007 }
.CodeRay .at { color:#f08 }
.CodeRay .av { color:#700 }
.CodeRay .aw { color:#C00 }
.CodeRay .bi { color:#509; font-weight:bold }
.CodeRay .c  { color:#888; }

.CodeRay .ch { color:#04D }
.CodeRay .ch .k { color:#04D }
.CodeRay .ch .dl { color:#039 }

.CodeRay .cl { color:#B06; font-weight:bold }
.CodeRay .cm { color:#A08; font-weight:bold }
.CodeRay .co { color:#036; font-weight:bold }
.CodeRay .cr { color:#0A0 }
.CodeRay .cv { color:#369 }
.CodeRay .de { color:#B0B; }
.CodeRay .df { color:#099; font-weight:bold }
.CodeRay .di { color:#088; font-weight:bold }
.CodeRay .dl { color:black }
.CodeRay .do { color:#970 }
.CodeRay .dt { color:#34b }
.CodeRay .ds { color:#D42; font-weight:bold }
.CodeRay .e  { color:#666; font-weight:bold }
.CodeRay .en { color:#800; font-weight:bold }
.CodeRay .er { color:#F00; background-color:#FAA }
.CodeRay .ex { color:#C00; font-weight:bold }
.CodeRay .fl { color:#60E; font-weight:bold }
.CodeRay .fu { color:#06B; font-weight:bold }
.CodeRay .gv { color:#d70; font-weight:bold }
.CodeRay .hx { color:#058; font-weight:bold }
.CodeRay .i  { color:#00D; font-weight:bold }
.CodeRay .ic { color:#B44; font-weight:bold }

.CodeRay .il { background: #ddd; color: black }
.CodeRay .il .il { background: #ccc }
.CodeRay .il .il .il { background: #bbb }
.CodeRay .il .idl { background: #ddd; font-weight: bold; color: #666 }
.CodeRay .idl { background-color: #bbb; font-weight: bold; color: #666; }

.CodeRay .im { color:#f00; }
.CodeRay .in { color:#B2B; font-weight:bold }
.CodeRay .iv { color:#33B }
.CodeRay .la { color:#970; font-weight:bold }
.CodeRay .lv { color:#963 }
.CodeRay .oc { color:#40E; font-weight:bold }
.CodeRay .of { color:#000; font-weight:bold }
.CodeRay .op { }
.CodeRay .pc { color:#038; font-weight:bold }
.CodeRay .pd { color:#369; font-weight:bold }
.CodeRay .pp { color:#579; }
.CodeRay .ps { color:#00C; font-weight:bold }
.CodeRay .pt { color:#074; font-weight:bold }
.CodeRay .r, .kw  { color:#080; font-weight:bold }

.CodeRay .ke { color: #808; }
.CodeRay .ke .dl { color: #606; }
.CodeRay .ke .ch { color: #80f; }
.CodeRay .vl { color: #088; }

.CodeRay .rx { background-color:#fff0ff }
.CodeRay .rx .k { color:#808 }
.CodeRay .rx .dl { color:#404 }
.CodeRay .rx .mod { color:#C2C }
.CodeRay .rx .fu  { color:#404; font-weight: bold }

.CodeRay .s { background-color:#fff0f0; color: #D20; }
.CodeRay .s .s { background-color:#ffe0e0 }
.CodeRay .s .s  .s { background-color:#ffd0d0 }
.CodeRay .s .k { }
.CodeRay .s .ch { color: #b0b; }
.CodeRay .s .dl { color: #710; }

.CodeRay .sh { background-color:#f0fff0; color:#2B2 }
.CodeRay .sh .k { }
.CodeRay .sh .dl { color:#161 }

.CodeRay .sy { color:#A60 }
.CodeRay .sy .k { color:#A60 }
.CodeRay .sy .dl { color:#630 }

.CodeRay .ta { color:#070 }
.CodeRay .tf { color:#070; font-weight:bold }
.CodeRay .ts { color:#D70; font-weight:bold }
.CodeRay .ty { color:#339; font-weight:bold }
.CodeRay .v  { color:#036 }
.CodeRay .xt { color:#444 }

.CodeRay .ins { background: #afa; }
.CodeRay .del { background: #faa; }
.CodeRay .chg { color: #aaf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }

.CodeRay .ins .ins { color: #080; font-weight:bold }
.CodeRay .del .del { color: #800; font-weight:bold }
.CodeRay .chg .chg { color: #66f; }
.CodeRay .head .head { color: #f4f; }

pre.css .cl,
pre.css .co,
pre.css .ps,
pre.css .ty { font-weight: normal; }
